.footer {
    background-color: #0F1120;
    color: #fff;
    padding: 5vh 10vw;
    text-align: center;
}
  
.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
  
.social_list li {
    margin: 0 1em;
}
  
.social_list li:hover {
    color: #3D6FFF;
}
  
.social_list svg {
    font-size: 100%;
    cursor: pointer;
}
  
.copy_right {
    font-size: 70%;
    margin-top: 1em;
}
  
.copy_right span {
    font-weight: bold;
    color: #3D6FFF;
}